In [1]:
import numpy as np
from scipy import stats
import pandas as pd
import time
#import math

# Sklearn
import sklearn
# Preprocessor from sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Keras
import keras
# ANNs from keras
from keras.models import Sequential
from keras.utils.vis_utils import plot_model
from keras.layers import Dropout, Dense, LSTM

# Import cufflinks for visualization
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] =(20,10)
plt.style.use('fivethirtyeight')

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Feature selection
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
# Feature importance
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt

# Models
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
#from skpp import ProjectionPursuitRegressor
#from skpp import ProjectionPursuitClassifier
# # ANNs
from tensorflow.keras import Input
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.models import load_model, Model

# Model Metrics
from sklearn.metrics import accuracy_score
# ROC Curve
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

# Resample
# Block Bootstrap
#from arch.bootstrap import StationaryBootstrap
# Time Series cross-validation
#from sklearn.model_selection import TimeSeriesSplit

# Class encoder
#from sklearn.preprocessing import LabelEncoder

In [2]:
seed_value= 4

In [3]:
df = pd.read_csv('DATA_FRAME_CURATED.csv')

In [4]:
df.head(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
0,2010-01-04,0.34021,1116.560059,1133.869995,1116.560059,1132.98999,3991400000,1.460756,0,1,1,NaN,NaN,37.469345,-0.608758,-1.458718,7.865987,NaN,NaN

In [5]:
df.tail(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
3020,2021-12-31,NaN,4775.209961,4786.830078,4765.75,4766.180176,2677820000,-0.189276,4,52,12,1.290413,0.104414,-16.430305,0.496945,0.13077,2.353049,54.860725,27.868762

In [6]:
df = df.dropna()

In [7]:
df.head(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
33,2010-02-22,-1.170721,1110.0,1112.290039,1105.380005,1108.01001,3814440000,-0.179439,0,8,2,-0.778917,2.18346,11.122564,0.395727,0.183296,1.097264,57.174474,-6.122003

In [8]:
df.tail(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
3019,2021-12-30,-0.189276,4794.22998,4808.930176,4775.330078,4778.72998,3124950000,-0.323829,3,52,12,-0.08322,0.707644,27.763174,0.110607,0.3412,-0.173264,59.444254,24.997692

In [9]:
df.index = df["Date"]

In [10]:
df.head(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
Date,,,,,,,,,,,,,,,,,,,
2010-02-22,2010-02-22,-1.170721,1110.0,1112.290039,1105.380005,1108.01001,3814440000,-0.179439,0,8,2,-0.778917,2.18346,11.122564,0.395727,0.183296,1.097264,57.174474,-6.122003

In [11]:
df.tail(1)

,Date,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
Date,,,,,,,,,,,,,,,,,,,
2021-12-30,2021-12-30,-0.189276,4794.22998,4808.930176,4775.330078,4778.72998,3124950000,-0.323829,3,52,12,-0.08322,0.707644,27.763174,0.110607,0.3412,-0.173264,59.444254,24.997692

In [12]:
df.drop(["Date"],1,inplace=True)

In [13]:
df.shape

(2980, 18)

In [14]:
list(df.keys())

['Y_next_returns',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'daily_returns',
 'day-of-week',
 'week-of-year',
 'month-of-year',
 'gold_returns',
 'oil_returns',
 'yield_returns',
 'nasdaq_returns',
 'dowJones_returns',
 'VIX_returns',
 'RSI',
 'MACD_Signal']

In [15]:
X=df.copy()

In [16]:
X.head()

,Y_next_returns,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
Date,,,,,,,,,,,,,,,,,,
2010-02-22,-1.170721,1110.000000,1112.290039,1105.380005,1108.010010,3814440000,-0.179439,0,8,2,-0.778917,2.183460,11.122564,0.395727,0.183296,1.097264,57.174474,-6.122003
2010-02-23,0.849567,1107.489990,1108.579956,1092.180054,1094.599976,4521050000,-1.170721,1,8,2,0.340965,-0.087429,-24.512246,1.103924,0.975059,-4.694355,46.657477,-5.070175
2010-02-24,0.154248,1095.890015,1106.420044,1095.500000,1105.239990,4168360000,0.849567,2,8,2,-1.798596,-1.130951,4.445176,-0.605614,-0.872882,4.627327,52.947260,-4.064751
2010-02-25,0.125931,1101.239990,1103.500000,1086.020020,1102.939941,4521130000,0.154248,3,8,2,1.025282,1.480208,-4.445176,-1.152422,0.440547,9.168536,69.303062,-3.169863
2010-02-26,0.931988,1103.099976,1107.239990,1097.560059,1104.489990,3945190000,0.125931,4,8,2,-0.090310,-2.496342,0.000000,-0.170817,-0.037290,1.929969,68.841006,-2.357182

In [17]:
Y = pd.DataFrame({'sign': np.sign(X['Y_next_returns'])})

In [18]:
threshold = np.arange(-1.5,1.5,0.25)

In [19]:
data_threshold=pd.DataFrame()

In [20]:
data=[]
for k in threshold:
    data=[]
    for i in X['Y_next_returns']:
        if i < k:
            data.append(0)
        else:
            data.append(1)
    
    data_threshold[str(round(k,1))]=data

In [21]:
data_threshold

      -1.5  -1.2  -1.0  -0.8  -0.5  -0.2  0.0  0.2  0.5  0.8  1.0  1.2
0        1     1     0     0     0     0    0    0    0    0    0    0
1        1     1     1     1     1     1    1    1    1    1    0    0
2        1     1     1     1     1     1    1    0    0    0    0    0
3        1     1     1     1     1     1    1    0    0    0    0    0
4        1     1     1     1     1     1    1    1    1    1    0    0
...    ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...  ...
2975     1     1     1     1     1     1    1    1    1    1    1    0
2976     1     1     1     1     1     1    0    0    0    0    0    0
2977     1     1     1     1     1     1    1    0    0    0    0    0
2978     1     1     1     1     1     0    0    0    0    0    0    0
2979     1     1     1     1     1     1    0    0    0    0    0    0

[2980 rows x 12 columns]

In [22]:
X.drop("Y_next_returns",1,inplace=True)

In [23]:
X.head(3)

,Open,High,Low,Close,Volume,daily_returns,day-of-week,week-of-year,month-of-year,gold_returns,oil_returns,yield_returns,nasdaq_returns,dowJones_returns,VIX_returns,RSI,MACD_Signal
Date,,,,,,,,,,,,,,,,,
2010-02-22,1110.000000,1112.290039,1105.380005,1108.010010,3814440000,-0.179439,0,8,2,-0.778917,2.183460,11.122564,0.395727,0.183296,1.097264,57.174474,-6.122003
2010-02-23,1107.489990,1108.579956,1092.180054,1094.599976,4521050000,-1.170721,1,8,2,0.340965,-0.087429,-24.512246,1.103924,0.975059,-4.694355,46.657477,-5.070175
2010-02-24,1095.890015,1106.420044,1095.500000,1105.239990,4168360000,0.849567,2,8,2,-1.798596,-1.130951,4.445176,-0.605614,-0.872882,4.627327,52.947260,-4.064751

In [24]:
data_threshold.shape[1]

12

In [25]:
data_threshold.keys()

Index(['-1.5', '-1.2', '-1.0', '-0.8', '-0.5', '-0.2', '0.0', '0.2', '0.5',
       '0.8', '1.0', '1.2'],
      dtype='object')

In [26]:
dimen=range(data_threshold.shape[1])

In [27]:
for k in data_threshold.keys():
    
    Y=data_threshold[k]
    
    # 70% train/test split
    split = int(len(X) * 0.7)

    # We transform Y to a binary classification problem's values (0 y 1)
    from sklearn.preprocessing import LabelEncoder 
    encoder = LabelEncoder() 
    encoder.fit(Y) 
    encoded_Y = encoder.transform(Y) 
    # We transform encoded_Y into a dataframe in order to use .iloc and being able to make the train/test split
    Y = pd.DataFrame(encoded_Y, columns = ['Column_A'],index=Y.index) 

    # Create train data set
    # We have to twist the dataset
    X_train, y_train = X[:split], Y[:split]
    # Test data after train split
    # PARA EVITAR CORRELACION ENTRE LAS SERIES PODEMOS TOMAR [SPLIT+3:] ie QUE PREDIGA 3 DIAS ADELANTE DEL TRAIN SET
    X_test, y_test = X[split:], Y[split:]


    # Scale the features MinMax for training and test datasets
    scaler = MinMaxScaler()
    scaled_X_train = scaler.fit_transform(X_train)
    scaled_X_test = scaler.transform(X_test)
    # We change from array to dataframe
    X_train=pd.DataFrame(scaled_X_train,columns=X.columns,index=X.iloc[:split].index)
    y_train=pd.DataFrame(y_train,columns=Y.columns,index=Y[:split].index)
    X_test=pd.DataFrame(scaled_X_test,columns=X.columns,index=X[split:].index)
    y_test=pd.DataFrame(y_test,columns=Y.columns,index=Y[split:].index)
    
    
    
    lr=LogisticRegression(max_iter=1000)

    start_lr = time.time()
    lr.fit(X_train, y_train)
    end_lr = time.time()
    lr_runtime=end_lr - start_lr

    print('Runtime:',lr_runtime)
    print("score on test: %.3f" % lr.score(X_test, y_test))
    print("score on train: %.3f" % lr.score(X_train, y_train))

Runtime: 0.03744077682495117
score on test: 0.937
score on train: 0.951
Runtime: 0.018987417221069336
score on test: 0.924
score on train: 0.934
Runtime: 0.0189211368560791
score on test: 0.903
score on train: 0.909
Runtime: 0.01894402503967285
score on test: 0.857
score on train: 0.872
Runtime: 0.0229034423828125
score on test: 0.804
score on train: 0.813
Runtime: 0.02387237548828125
score on test: 0.718
score on train: 0.718
Runtime: 0.03789830207824707
score on test: 0.531
score on train: 0.542
Runtime: 0.02462005615234375
score on test: 0.621
score on train: 0.644
Runtime: 0.021964550018310547
score on test: 0.757
score on train: 0.772
Runtime: 0.025965213775634766
score on test: 0.859
score on train: 0.858
Runtime: 0.023969650268554688
score on test: 0.919
score on train: 0.907
Runtime: 0.019948720932006836
score on test: 0.956
score on train: 0.942

In [1]:
1987/30

66.23333333333333

In [2]:
66.7*22

1467.4

In [3]:
1600/22

72.72727272727273